
body {
    background-color: #bbb;
    font-family: verdana;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    color: navy;
    display: block;
    text-align: center;
}

.header {
    background: #ddd;
    align-items: center;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    left: 0;
    top: 0;
}

.content {
    width: 100vw;
    display: block;
    align-content: center;
}

table {
    border: 2px #000;
    display: table;
}
