
body {
    background-color: #fff;
    font-family: verdana;
    align-items: center;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    display: block;
    text-align: center;
}

.header {
    background: #fff;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20px;
    margin: auto;
    left: 0;
    top: 0;
    border-bottom: 2px solid #bbb;
}

.navbar-wrapper {
    /* border-bottom: 2px solid #bbb; */
    margin: 0;
    position: absolute;
    top: 0px;
    background-color: #fff;
    width: 100vw;
}

.navbar {
    margin: auto;
}

.navbar li{
    list-style-type: none;
    display: block;
    float: left;
}

.navbar li:not(:last-child) {
    /* border-right: 1px solid #bbb; */
}

.navbar li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 16px 28px;
}

.navbar li a:hover {
    background-color: #bbb;
}

.content {
    width: 80vw;
    margin: auto;
    padding-top: 20px;
}

.content-table {
    float: none;
    display: block;
    margin: auto;
    width: 80vw;
    padding-top: 20px;
}

.paragraph1 {
    border-bottom: 1px solid #bbb
}

table {
    display: table;
    padding: 20px;
    border-collapse: collapse;
    border: 1px solid #bbb;
}

th #img, #proj, #date, #nbe {
    width: 10vw;
    text-align: center;
}

th #desc {
    width: 60vw;
    text-align: center;
}

th, td {
    border: 1px solid #bbb;
    padding: 4px 2px;
    margin: 0;
}
